.topbar{

display:flex;

justify-content:space-between;

align-items:center;

background:white;

padding:20px;

box-shadow:0 2px 8px rgba(0,0,0,.08);

margin-bottom:30px;

}

.topbar input{

width:350px;

padding:12px;

border:1px solid #ddd;

border-radius:8px;

}

.topbar-right{

display:flex;

align-items:center;

gap:25px;

}

.notification{

background:none;

border:none;

font-size:24px;

cursor:pointer;

}

.user{

display:flex;

align-items:center;

gap:15px;

}

.avatar{

width:45px;

height:45px;

border-radius:50%;

background:#2563eb;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-weight:bold;

}