.announcement-card{
    background:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
    box-shadow:0 4px 10px rgba(0,0,0,.08);
}

.announcement-card h2{
    margin-bottom:10px;
}

.announcement-card small{
    color:gray;
}

.announcement-card p{
    margin-top:15px;
}